PABAL_POSTGRES_DB=pabal
PABAL_POSTGRES_USER=pabal
PABAL_POSTGRES_PASSWORD=pabal

PABAL_REDIS_PORT=6379
PABAL_POSTGRES_PORT=5432

PABAL_JWT_LOCAL_SECRET=01234567890123456789012345678901

PABAL_TEST_OAUTH2_ISSUER_URI=http://localhost:8080/auth/realms/pabal
PABAL_TEST_OAUTH2_JWK_SET_URI=http://localhost:8080/auth/realms/pabal/protocol/openid-connect/certs
PABAL_TEST_REDIS_HOST=localhost
PABAL_TEST_REDIS_PORT=6379
PABAL_TEST_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
PABAL_TEST_KAFKA_CONSUMER_GROUP_ID=test-group
PABAL_TEST_KAFKA_AUTO_OFFSET_RESET=earliest
PABAL_TEST_JWT_ISSUER_URI=http://localhost:8080/auth/realms/pabal
PABAL_TEST_JWT_AUDIENCE=pabal-client
PABAL_TEST_JWT_USER_ID_CLAIM=sub
PABAL_TEST_JWT_TENANT_ID_CLAIM=tenant_id
PABAL_TEST_JWT_PRINCIPAL_CLAIM=preferred_username
PABAL_TEST_JWT_CLOCK_SKEW=60s
PABAL_TEST_JWT_LOCAL_SECRET=01234567890123456789012345678901
PABAL_TEST_STOMP_RELAY_HOST=localhost
PABAL_TEST_STOMP_RELAY_PORT=61613
PABAL_TEST_STOMP_CLIENT_LOGIN=guest
PABAL_TEST_STOMP_CLIENT_PASSCODE=guest
PABAL_TEST_STOMP_SYSTEM_LOGIN=guest
PABAL_TEST_STOMP_SYSTEM_PASSCODE=guest
PABAL_TEST_STOMP_VIRTUAL_HOST=/
PABAL_TEST_STOMP_SYSTEM_HEARTBEAT_SEND_INTERVAL=10000
PABAL_TEST_STOMP_SYSTEM_HEARTBEAT_RECEIVE_INTERVAL=10000
